.backgroundMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: auto;
  font-family: 'Roboto';
  flex-grow: 1;
  height: auto;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70vw;
  padding-top: 40px;
  background-color: #3a4b63;
}

.firstContainerHeading {
  color: #ffffff;
  font-size: 30px;
}

.firstContainerList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0px !important;
}
